.btn-primary {
  display: inline-block;
  color: #999999;
  border: 1px solid #999999;
  padding: 15px 25px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}

.btn-primary:hover {
background-color: rgb(241, 245, 241);
}

a {
  text-decoration: none;
}
